<div class="principal-div" >
  <div class="card" id="principal-card" >
    <div class="card-body">
      <div>
        <h3 id="date-text"><strong>Fecha: </strong> <strong id="sub-text"> {{payroll_data.created_at | date:"mediumDate" }}</strong></h3>
        <span id="period-text"><strong>Periodo: </strong><strong id="sub-text">{{payroll_data.period.id}}</strong></span>
        <br>
        <span id="period-text"><strong>ID # </strong><strong id="sub-text">{{payroll_data.id}}</strong></span>
      </div>
      <br>
      <!-- Tabla de devengados -->
      <div class="div-content">
        <div id="div-head" class="space-between">
          <h3><strong>Devengados</strong></h3>
          <button class="btn btn-primary" (click)="openAddAccruedModal()"><strong>+ Agregar</strong></button>
        </div>
        <div class="div-table">
          <table class="table table-hover" style="margin-top: 30px;">
            <thead>
              <tr>
                <th class="table-title">Id</th>
                <th class="table-title">Concepto</th>
                <th class="table-title">Cantidad</th>
                <th class="table-title">Valor unitario</th>
                <th class="table-title">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let concept of payroll_data.concepts">
                <td *ngIf="concept.concept_type_id == 1" class="table-body">{{concept.id}}</td>
                <td *ngIf="concept.concept_type_id == 1" class="table-body">{{concept.name}}</td>
                <td *ngIf="concept.concept_type_id == 1" class="table-body">{{concept.pivot.count}}</td>
                <td *ngIf="concept.concept_type_id == 1" class="table-body">{{concept.pivot.unit_value | currency: ' ' }}</td>
                <td *ngIf="concept.concept_type_id == 1" class="table-body">{{concept.pivot.total_value | currency: ' ' }}</td>
                <td *ngIf="concept.concept_type_id == 1" class="table-body"><button class="btn-table" (click)="openDeleteModal(concept)" ><img src="/assets/images/others/icon-trash.png" alt=""></button></td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning" role="alert" *ngIf="totalAccrued == 0" id="warning-alert">
            <strong>Este usuario no tiene conceptos cargados</strong>
          </div>
      </div>
      <br>
      <div class="space-between">
        <h4><img src="/assets/images/others/icon-alta.png" alt=""><strong> Total devengados: {{totalAccrued | currency: ' ' }}<strong id="COP"> COP</strong></strong> </h4>
      </div>
      </div>
      <br>
      <!-- Tabla de deducciones -->
      <div class="div-content" id="deduction-div">
        <div id="div-head" class="space-between">
          <h3><strong>Deducciones</strong></h3>
          <button class="btn btn-primary" (click)="openAddDeductionModal()"><strong>+ Agregar</strong></button>
        </div>
        <div class="div-table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-title">Id</th>
                <th class="table-title">Concepto</th>
                <th class="table-title">Cantidad</th>
                <th class="table-title">Valor unitario</th>
                <th class="table-title">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let concept of payroll_data.concepts">
                <td *ngIf="concept.concept_type_id == 2" class="table-body">{{concept.id}}</td>
                <td *ngIf="concept.concept_type_id == 2" class="table-body">{{concept.name}}</td>
                <td *ngIf="concept.concept_type_id == 2" class="table-body">{{concept.pivot.count}}</td>
                <td *ngIf="concept.concept_type_id == 2" class="table-body">{{concept.pivot.unit_value | currency: ' ' }}</td>
                <td *ngIf="concept.concept_type_id == 2" class="table-body">{{concept.pivot.total_value | currency: ' ' }}</td>
                <td *ngIf="concept.concept_type_id == 2" class="table-body"><button class="btn-table" (click)="openDeleteModal(concept)"><img src="/assets/images/others/icon-trash.png" alt=""></button></td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning" role="alert" *ngIf="totalDeducted == 0" id="warning-alert">
            <strong>Este usuario no tiene conceptos cargados</strong>
          </div>
      </div>
      <br>
      <div class="space-between">
        <h4><img src="/assets/images/others/icon-baja.png" alt=""><strong> Total deducidos: {{totalDeducted | currency: ' '}}<strong id="COP"> COP</strong></strong> </h4>
      </div>
      </div>
      <br>
      <div class="div-content">
        <br>
        <div class="space-between">
          <h4><img src="/assets/images/others/icon-paid.png" alt=""><strong> Total a pagar: {{totalPaid | currency: ' '}}<strong id="COP"> COP</strong></strong> </h4>
          <button type="button" class="btn btn-outline-success" (click)="print()">Imprimir</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Carta de empleado -->
  <div class="card" id="user-card">
    <div class="card-body">
      <div class="porfile">
        <h3><strong>{{payroll_data.user.name}} {{payroll_data.user.last_name}}</strong></h3>
        <img id="user-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
        <br>
        <span><strong>C.C: </strong>{{payroll_data.user.identification_number}}</span> <span> <strong>email: </strong>{{payroll_data.user.email}}</span>
      </div>
    </div>
  </div>
</div>
