<h2><strong>Nómina</strong></h2>

<div class="center">
  <h3><strong>Buscar usuarios</strong></h3>
  <div class="div-content" id="div-search">
    <input class="form-control" type="text" placeholder="Buscar por nombre..." (keyup)="userFilter($event)" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false">
  </div>
  <br>

  <div class="collapse" id="collapseExample">
    <div class="center">
      <h3 id="sub-text"><strong>Seleccionar un usuario</strong></h3>
      <div class="card" id="card-search">
        <div class="card-body">
          <div class="div-content" *ngFor="let employee of employees">
            <div class="items-card">
              <img width="40px" height="40px" style="border-radius: 40px;" src={{employee.image}} onerror="this.src='/assets/images/others/avatar.jpg'">
            </div>
            <div class="user-card">
              <button class="select-btn" (click)="selectUser(employee)" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true">
                <h5 id="title"><strong>{{employee.name}} {{employee.last_name}}</strong></h5>
                <h5 id="sub-title">{{employee.email}}</h5>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="alert alert-warning" role="alert" *ngIf="isEmpty" style="width: 70%; margin: auto; display: block; text-align: center; margin-bottom: 15px; margin-top: 15px;">
  <strong>El usuario {{employee_name}} no tiene una nomina disponible actualmente</strong>
</div>
<app-info-payroll [user_image]="user_data_image" [payroll_data]="payroll_data" *ngIf="isSelected" (refresh_payroll)="refreshPayroll($event)"></app-info-payroll>

