<div class="container col-12 col-md-12">
        <div class="modal-header">
            <h4 class="ModalTitle" id="modal-basic-title">Agregar Usuario</h4>
        </div>
    <mat-card class="mat-card col-12">
            <div class="d-flex justify-content-center col-12 col-md-12" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>

        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper *ngIf="!isLoading">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Informacion Personal</ng-template>

                <div class="ancho col-6 col-md-3">
                        <label id="UserLabel">Nombre</label>
                        <input class="form-control" type="text"  placeholder="Primer Nombre" formControlName="name" autocomplete="off">
                        <mat-error  *ngIf="firstFormGroup.get('name')?.hasError('required') && firstFormGroup.get('name')?.touched" style="color: rgb(172,29,33); font-weight: 100;">
                            *El nombre es <strong>Requerido</strong>
                          </mat-error>
                    </div>

                 <div  class="ancho col-6 col-md-3">
                     <label id="UserLabel">Apellido</label>
                     <input class="form-control" type="text" matInput  placeholder="Apellido" formControlName="last_name" autocomplete="off">
                     <mat-error  *ngIf="firstFormGroup.get('last_name')?.hasError('required') && firstFormGroup.get('last_name')?.touched" style="color: rgb(172,29,33); font-weight: 90;">
                         *El Apellido es <strong>Requerido</strong>
                       </mat-error>
                 </div>

                 <div  class="ancho col-6 col-md-3">
                    <label id="UserLabel">Tipo de identificacion</label>
                    <select class="form-select" formControlName="identification_type_id" name="tipoIdentificacion">
                        <option *ngFor="let identification_type_id of tipoIdentificacion " [value]="identification_type_id.id">
                            {{identification_type_id.name}}
                            </option>
                    </select>
                </div>

                 <div  class="ancho col-6 col-md-3">
                    <label id="UserLabel">Numero de Identificacion</label>
                    <input class="form-control" type="text" matInput  placeholder="#Identificacion" formControlName="identification_number" autocomplete="off">
                    <mat-error  *ngIf="firstFormGroup.get('identification_number')?.hasError('required') && firstFormGroup.get('identification_number')?.touched" style="color: rgb(172,29,33); font-weight: 90;">
                        *El Numero de identificacion es <strong>Requerido</strong>
                      </mat-error>
                </div>

                <div  class="ancho col-6 col-md-3">
                    <label id="UserLabel">Cargo</label>
                    <select class="form-select" formControlName="identification_type_id" name="tipoIdentificacion">
                        <option *ngFor="let position of cargos" [value]="position.id">
                            {{position.name}}
                            </option>
                    </select>
                </div>

                
                <div>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>


              </form>
            </mat-step>



            <!-- <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                         required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
                <p> ¿Terminaste? ¡Agrega los Datos!</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step> -->
        </mat-stepper>
    </mat-card>

</div>

    
