.mat-card{
  margin-top: 1%;
  width: 90vw;
}

.mat-table{
  width: 100%;
}
.opciones{
  border: solid none;
}
@media (max-width: 1000px) {
  .mat-table{
    width: 100%;
    overflow: scroll;
  }
  .input-filter{
    width: 60%;
  }
  .mat-card{
    margin-top: 1%;
    width: 100vw;
    padding: 5px;
  }
}
