.mat-card{
    margin-top: 1%;
    width: 130vh;
}
.ancho{
    margin-right: 2%;
}
.mat-form-field {
  margin-top: 16px;
  width: 180px;
}
@media (max-width: 600px){

  .ancho{
    width: 25vh;
    margin-left: 0px;
  }
  .mat-card{
    margin-top: 1%;
    width: 38vh;
    padding: 0px;
  }
  .container{
    overflow: scroll;
    height: 90vh;
    padding: 0px;
    width: 40vh;
  }
}
.container{
  overflow: scroll;
  height: 60vh;
}
