<div class="container col-12 col-md-12" >
    <mat-toolbar >
        <span mat-dialog-title>{{ isEdit ? "Editar" : "Agregar" }} Colaborador</span>
    </mat-toolbar>
    <mat-card class="mat-card col-12">
      <div class="d-flex justify-content-center col-12 col-md-12" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>

      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper *ngIf="!isLoading">
        <!-- DATOS PERSONALES -->
        <mat-step [stepControl]="firstFormGroup" >
          <form *ngIf="firstFormGroup" [formGroup]="firstFormGroup" >
            <ng-template matStepLabel>Datos personales</ng-template>
              <mat-form-field class="ancho col-6 col-md-3">
                  <mat-label>TIPO DE IDENTIFICACION</mat-label>
                  <mat-select formControlName="identification_type_id" name="tipoIdentificacion">
                <mat-option *ngFor="let identificatiotype of tipoIdentificacion " [value]="identificatiotype.id">
                    {{identificatiotype.name}}
                    </mat-option>
                      </mat-select>
              </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3">
                  <mat-label>NUMERO DE IDENTIFICACION</mat-label>
                  <input matInput autocomplete="off" formControlName="identification_number" >
                </mat-form-field>
                <mat-form-field class="ancho col-6 col-md-3" >
                  <mat-label>Departamento</mat-label>
                  <mat-select name="departamento" (selectionChange)="cities($event.value)">
                    <mat-option *ngFor="let province of provinces" [value]="province.id">
                      {{province.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ancho col-6 col-md-3">
                  <mat-label>LUGAR DE EXPEDICION</mat-label>
                  <mat-select formControlName="expedition_place_id" name="ciudadTrabajo">
                    <mat-option *ngFor="let expedition_place_id of expedicion" [value]="expedition_place_id.id">
                      {{expedition_place_id.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ancho col-6 col-md-3" >
                  <mat-label>NOMBRE</mat-label>
                  <input matInput autocomplete="off" formControlName="name" >
                </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3" >
                  <mat-label>APELLIDO</mat-label>
                  <input matInput autocomplete="off" formControlName="last_name" >
                </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3">
                <mat-label>GENERO</mat-label>
                <mat-select formControlName="gender_id" name="genero">
                  <mat-option *ngFor="let gender_id of genero" [value]="gender_id.id">
                    {{gender_id.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>FECHA DE NACIMIENTO</mat-label>
                <input matInput autocomplete="off" type="date" formControlName="birthday" >
              </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3">
                  <mat-label>ESTADO CIVIL</mat-label>
                  <mat-select formControlName="civil_statu_id" name="estadoCivil">
                    <mat-option *ngFor="let civil_statu_id of estadoCivil" [value]="civil_statu_id.id">
                      {{civil_statu_id.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3">
                  <mat-label>CONTACTO DE EMERGENCIA</mat-label>
                  <mat-select formControlName="emergency_contact_id" name="ciudadResidencia">
                    <mat-option *ngFor="let emergency_contact_id of Emergencia" [value]="emergency_contact_id.id">
                      {{emergency_contact_id.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>NUMERO DE HIJOS</mat-label>
                <input matInput autocomplete="off" type="number" formControlName="children" >
              </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3">
                <mat-label>NIVEL DE EDUCACION</mat-label>
                <mat-select formControlName="education_level_id" name="nivelEducacion">
                  <mat-option *ngFor="let education_level_id  of NivelEducativo" [value]="education_level_id.id">
                    {{education_level_id.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div>
              <button [disabled]="firstFormGroup.invalid" mat-raised-button color="primary" matStepperNext >Siguiente</button>
            </div>
          </form>
        </mat-step>
         <!-- DIRECCION -->
        <mat-step [stepControl]="secondFormGroup">
        <form *ngIf="secondFormGroup" [formGroup]="secondFormGroup" >
          <ng-template matStepLabel>Ingresar direccion</ng-template>
          <mat-form-field class="ancho col-6 col-md-3" >
            <mat-label>Departamento</mat-label>
            <mat-select name="departamento" (selectionChange)="cities($event.value)">
              <mat-option *ngFor="let province of provinces" [value]="province.id">
                {{province.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
            <mat-label>CIUDAD DE RESIDENCIA</mat-label>
            <mat-select formControlName="residence_city_id" name="ciudadResidencia">
              <mat-option *ngFor="let residence_city_id  of residencia" [value]="residence_city_id.id">
                {{residence_city_id.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3" >
            <mat-label>BARRIO</mat-label>
            <input matInput autocomplete="off"  formControlName="neighborhood" >
          </mat-form-field>
        <mat-form-field class="ancho col-6 col-md-3" >
            <mat-label>DIRECCION</mat-label>
            <input matInput autocomplete="off"  formControlName="address" >
          </mat-form-field>
        <mat-form-field class="ancho col-6 col-md-3">
            <mat-label>ESTRATO</mat-label>
            <mat-select formControlName="strata_id" name="Estrato">
              <mat-option *ngFor="let strata_id  of Estrato" [value]="strata_id.id">
                {{strata_id.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atras</button>
            <button [disabled]="secondFormGroup.invalid" mat-raised-button color="primary" matStepperNext>Siguiente</button>
          </div>
        </form>
          <!-- LOGIN -->
          <mat-step [stepControl]="thirdFormGroup">
            <form *ngIf="thirdFormGroup" [formGroup]="thirdFormGroup" >
              <ng-template matStepLabel>Datos de registro</ng-template>
              <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>CORREO</mat-label>
                <input matInput autocomplete="off" formControlName="email" >
              </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>CONTRASEÑA</mat-label>
                <input matInput  autocomplete="off" formControlName="password"  >
            </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button [disabled]="thirdFormGroup.invalid" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
            <!-- DATOS LABORALES -->
          <mat-step [stepControl]="fourthFormGroup">
            <form *ngIf="fourthFormGroup" [formGroup]="fourthFormGroup" >
              <ng-template matStepLabel>Datos laborales</ng-template>
              <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>FECHA DE ADMISION</mat-label>
                <input matInput autocomplete="off" type="date" formControlName="admission_date" >
              </mat-form-field>
              <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>Departamento</mat-label>
                <mat-select name="departamento" (selectionChange)="cities($event.value)">
                  <mat-option *ngFor="let province of provinces" [value]="province.id">
                    {{province.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>CIUDAD DE TRABAJO</mat-label>
              <mat-select formControlName="work_city_id" name="ciudadTrabajo">
                <mat-option *ngFor="let work_city_id  of residencia" [value]="work_city_id.id">
                  {{work_city_id.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>PROVEEDOR DE SALUD</mat-label>
              <mat-select formControlName="health_provider_id" name="proveedorSalud">
                <mat-option *ngFor="let health_provider_id  of ProveedorSalud" [value]="health_provider_id.id">
                  {{health_provider_id.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>FONDO DE PENSIONES</mat-label>
              <mat-select formControlName="pension_fund_id" name="FondoPensiones">
                <mat-option *ngFor="let pension_fund_id  of FondoDePensiones" [value]="pension_fund_id.id">
                  {{pension_fund_id.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>TIPO DE CONTRATO</mat-label>
              <mat-select formControlName="contract_type_id" name="tipoContrato">
                <mat-option *ngFor="let ContractType of tipoContrato" [value]="ContractType.id">
                  {{ContractType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>TIPO DE SALARIO</mat-label>
              <mat-select formControlName="salary_type_id" name="tipoSalario">
                <mat-option *ngFor="let salarytype of tipoSalario" [value]="salarytype.id">
                  {{salarytype.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>SALARIO BASE</mat-label>
                <input matInput autocomplete="off"  formControlName="base_salary" >
              </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3">
                <mat-label>LINEA DE NEGOCIO</mat-label>
                <mat-select formControlName="business_line_id" name="lineaNegocio">
                  <mat-option *ngFor="let bussinesline of lineaNegocio" [value]="bussinesline.id">
                    {{bussinesline.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3">
                <mat-label>CARGO</mat-label>
                <mat-select formControlName="position_id" name="cargo">
                  <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                    {{cargo.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <mat-form-field class="ancho col-6 col-md-3">
              <mat-label>SUCURSAL</mat-label>
              <mat-select formControlName="headquarter_id" name="sucursal">
                <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                  {{sucursal.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        <mat-form-field class="ancho col-6 col-md-3">
            <mat-label>ESTADO</mat-label>
            <mat-select formControlName="active" name="Estado">
              <mat-option [value]="1">
                Activo
              </mat-option>
              <mat-option [value]="0">
                Inactivo
              </mat-option>
            </mat-select>
          </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button [disabled]="fourthFormGroup.invalid" mat-raised-button color="primary" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <!-- LISTO -->
          <mat-step>
            <ng-template matStepLabel>Terminado</ng-template>
            <p>Has finalizado</p>
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-button (click)="stepper.reset()">Restaurar</button>
              <button *ngIf="!id" type="submit"  mat-raised-button color="primary" (click)="asigForm(firstFormGroup.value,secondFormGroup.value,thirdFormGroup.value,fourthFormGroup.value)">Aceptar</button>
              <button *ngIf="id"  type="submit"  mat-raised-button color="primary" (click)="asigForm(firstFormGroup.value,secondFormGroup.value,thirdFormGroup.value,fourthFormGroup.value)">update</button>

            </div>
          </mat-step>
        </mat-step>
      </mat-stepper>
    </mat-card>
</div>
