.mat-card{
    margin-top: 1%;
    width: 130vh;
}
.ancho{
    margin-right: 2%;
}
.mat-form-field {
  margin-top: 16px;
  width: 180px;
}
@media (max-width: 600px){
  .mat-form-field {
    margin-top: 16px;
    width: 50vh;
  }
  .ancho{
    margin-right: 10vh;
    width: 35vh;
  }
  .mat-card{
    margin-top: 1%;
    width: 50vh;
}
}
.container{
  overflow: scroll;
  height: 60vh;
}
