.mat-card{
    margin-top: 1%;
    width: 150vh;
}
.ancho{
    width: 30%;
    margin-right: 8px;
    margin-left: 0px;
}
.mat-stepper-vertical {
  margin-top: 8px;
}
.mat-form-field {
  margin-top: 16px;
}
