<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-5 pe-md-0">
          <div class="auth-side-wrapper">
          </div>
        </div>
        <div class="col-md-7 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <h5 style="color: rgb(199, 18, 18);" class="nobleui-logo d-block mb-2">S&C<span> Contable</span></h5>
            <h5 class="text-muted fw-normal mb-4">Bienvenido!, inicia sesión con tu cuenta</h5>
            <form  class="forms-sample" [formGroup]="loginForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" formControlName="email" form placeholder="Correo">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" form placeholder="Constraseña">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Recordar
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Iniciar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>