.cardTable{
    width: auto;
}
.form-control{
  width: 70%;
  border-collapse: 0px;
  background-image: url('/assets/images/others/icon-search.png');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  background-color: rgb(250, 250, 250);
  font-weight: 500;
  padding-left: 40px;
}
.input-group{
    width: 30%;
}
#btn-table{
  background-color: transparent;
  border-color: transparent;
}







