<div class="card">
  <div class="card-header">
    <h2>Detalles de la cuenta</h2>
    <button id="edit-security-btn" class="btn btn-primary {{btnEdit}}" (click)="edit()"><img src="/assets/images/others/icon-edit.png" alt=""></button>
  </div>
  <div class="d-flex justify-content-center" style="margin: 15px;" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="card-body">
    <div class="div-info">
      <form [formGroup]="form" *ngIf="!isLoading">
        <h3>Informacion de cuenta</h3>
        <div class="space-between">
          <span><strong>Correo electronico:</strong></span>
          <div class="column">
            <input type="text" class="inp-info" autocomplete="off" [readonly]="!isEdit" formControlName="email">
            <label *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"><small>*El campó es requerido</small></label>
            <label *ngIf="form.get('email')?.hasError('pattern')"><small>*No es un correo valido</small></label>
          </div>
        </div>
        <br>
        <div class="center">
          <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">Cambiar contraseña</button>
        </div>
      </form>
        <br>
        <div class="center">
          <div id="alert-success" class="alert alert-success" role="alert" *ngIf="messagePassword">
            Se ha actualizado la contraseña!
          </div>
        </div>
        <div class="collapse" id="collapsePassword">
          <form [formGroup]="formPassword">
            <div class="column">
              <label>Nueva contraseña</label>
              <input type="password" class="inp-info" autocomplete="off" (keyup)="verifyPassword($event, 1)" formControlName="passwordNull">
              <label *ngIf="formPassword.get('passwordNull')?.hasError('minlength')"><small>*Debe tener minimo 8 caracteres</small></label>
              <label *ngIf="formPassword.get('passwordNull')?.hasError('required') && formPassword.get('passwordNull')?.touched"><small>*El campo es requerido</small></label>

              <label>Confirmar contraseña</label>
              <input type="password" class="inp-info" autocomplete="off" formControlName="password" (keyup)="verifyPassword($event, 2)">
              <label *ngIf="!isValidPassword"><small>*no coinciden las contraseñas</small></label>
              <label *ngIf="formPassword.get('password')?.hasError('required') && formPassword.get('password')?.touched"><small>*El campo es requerido</small></label>
              <br>

              <button class="btn btn-success" [disabled]="formPassword.invalid" (click)="savePassword(formPassword.value)" data-bs-toggle="collapse" data-bs-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="center">
      <div id="alert-success" class="alert alert-success" role="alert" *ngIf="messaggeAlert">
        Se han actualizado los datos!
      </div>
    </div>
  <div class="card-footer" *ngIf="isEdit">
    <button class="btn btn-success" [disabled]="form.invalid" (click)="putSegurityUser(form.value)">Guardar</button>
  </div>
</div>
