<div class="card">
  <div class="card-header">
    <h2>Detalles de la cuenta</h2>
    <button id="edit-security-btn" class="btn btn-primary {{btnEdit}}" (click)="edit()"><img src="/assets/images/others/icon-edit.png" alt=""></button>
  </div>
  <div class="d-flex justify-content-center" style="margin: 15px;" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <div class="card-body">
      <div class="div-info">
        <h3>Informacion de cuenta</h3>
        <div class="space-between">
          <span><strong>Correo electronico:</strong></span>
          <input type="text" id="inp-info" autocomplete="off" [readonly]="!isEdit" formControlName="email">
        </div>
        <br>
        <div class="center">
          <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">Cambiar contraseña</button>
        </div>
        <br>
        <div class="collapse" id="collapsePassword">
          <div class="column">
            <label>Contraseña antigua</label>
            <input type="password" id="inp-info" autocomplete="off">

            <label>Nueva contraseña</label>
            <input type="password" id="inp-info" autocomplete="off">
            
            <label>Confirmar contraseña</label>
            <input type="password" id="inp-info" autocomplete="off">
            <br>
            <button class="btn btn-success">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <div id="alert-success" class="alert alert-success" role="alert" *ngIf="messaggeAlert">
        Se han actualizado los datos!
      </div>
    </div>
  </form>
  <div class="card-footer" *ngIf="isEdit">
    <button class="btn btn-success" (click)="putSegurityUser(form.value)">Guardar</button>
  </div>
</div>
