<div class="card">
  <form>
    <div class="row" id="div-head-buttons">
      <h3 id="title-covenant">Nuestros convenios</h3>
      <div class="input-group" id="div-add">
        <button type="button" class="btn btn-danger" id="btn-add"> + Nuevo convenio</button>
      </div>
    </div>
    <div class="div-table">
      <table class="table table-striped" style="margin-top: 30px;">
        <thead>
          <tr>
            <th class="table-title">Nombre</th>
            <th class="table-title">Tipo</th>
            <th class="table-title">Periodicidad</th>
            <th class="table-title">Proveedor</th>
            <th class="table-title">Valor</th>
            <th class="table-title">Estado</th>
            <th class="table-title"></th>
            <th class="table-title"></th>
          </tr>
        </thead>
        <tbody *ngIf="covenant">
          <tr>
            <td class="table-body">{{covenant.name}}</td>
            <td class="table-body">{{covenant.covenant_type.name}}</td>
            <td class="table-body">{{covenant.periodicity_type.name}}</td>
            <td class="table-body">{{covenant.provider.name}}</td>
            <td class="table-body">{{covenant.value}}</td>
            <td class="table-body" *ngIf="covenant.active == 1">Activo</td>
            <td class="table-body" *ngIf="covenant.active == 0">Inactivo</td>
            <td class="table-body"><button style="background-color: transparent; border-color: transparent;"><i class="bi bi-pencil"></i></button></td>
            <td class="table-body"><button style="background-color: transparent; border-color: transparent;"><i class="bi bi-trash"></i></button></td>
          </tr>
        </tbody>
    </table>
    </div>
  </form>
</div>
