.space-around{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
#input-user-form{
  width: 100%;
}
.div-buttons{
  display: flex;
  justify-content: space-between	;
  margin-top: 15px;
}
.btn-dark{
  margin-top: 15px;
  margin-right: 10px;
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}
.btn-primary{
  margin-top: 15px;
}
.div-buttons-first{
  display: flex;
  justify-content: flex-end	;
  margin-top: 15px;
}
#select-user-form{
  width: 190px;
}
