<div class="modalContent">
  <div class="modal-header">
    <h2 class="modal-title">Agregar Usuario</h2>
  </div>
  <div class="modal-body" >
    <div class="d-flex justify-content-center" style="margin: 15px;">
      <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <form [formGroup]="form" *ngIf="!isLoading">
      <!-- Primera pagina -->
      <div *ngIf="pagine == 1">
        <h3 style="margin-top: -35px">Datos personales</h3>
        <div class="space-around">
          <div>
            <label>Nombre</label>
            <input formControlName="name" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Apellido</label>
            <input formControlName="last_name" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('last_name')?.hasError('required') && form.get('last_name')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Tipo de identificacion</label>
            <select class="form-select" id="select-user-form" formControlName="identification_type_id">
              <option *ngFor="let identificationType of identificationTypes" [value]="identificationType.id">{{ identificationType.name }}</option>
            </select>
          </div>
          <div>
            <label>Numero de identificacion</label>
            <input formControlName="identification_number" class="form-control" type="text" id="input-user-form">
          </div>
        </div>
        <div class="space-around">
          <div id="select-province">
            <label>Departamento de expedicion</label>
            <select class="form-select" (click)="filterCities($event)">
              <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select>
          </div>
          <div>
            <label>Ciudad de expedicion</label>
            <select class="form-select" id="select-user-form" formControlName="expedition_place_id">
              <option disabled selected></option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('expedition_place_id')?.hasError('required') && form.get('expedition_place_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Telefono</label>
            <input formControlName="phone" class="form-control" type="number" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Fecha de nacimiento</label>
            <input formControlName="birthday" class="form-control" type="date" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('birthday')?.hasError('required') && form.get('birthday')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Hijos</label>
            <input formControlName="children" class="form-control" type="number" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('children')?.hasError('required') && form.get('children')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="div-buttons-first">
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary"  (click)="changePagine()">Siguiente</button>
          </div>
        </div>
      </div>
      <!-- Segunda pagina -->
      <div *ngIf="pagine == 2">
        <h3 style="margin-top: -35px">Datos personales</h3>
        <div class="space-around">
          <div id="select-province">
            <label>Departamento de residencia</label>
            <select class="form-select" (click)="filterCities($event)">
              <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select>
          </div>
          <div>
            <label>Ciudad de residencia</label>
            <select formControlName="residence_city_id" class="form-select" id="select-user-form">
              <option disabled selected></option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('residence_city_id')?.hasError('required') && form.get('residence_city_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Barrio</label>
            <input formControlName="neighborhood" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('neighborhood')?.hasError('required') && form.get('neighborhood')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Direccion de residencia</label>
            <input formControlName="address" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Estrato</label>
            <select formControlName="strata_id" class="form-select" id="select-user-form">
              <option *ngFor="let stratum of strata" [value]="stratum.id">{{ stratum.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('strata_id')?.hasError('required') && form.get('strata_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Genero</label>
            <select formControlName="gender_id" class="form-select" id="select-user-form">
              <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('gender_id')?.hasError('required') && form.get('gender_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Nivel de educacion</label>
            <select formControlName="education_level_id" class="form-select" id="select-user-form">
              <option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id">{{ educationLevel.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('education_level_id')?.hasError('required') && form.get('education_level_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Estado civil</label>
            <select formControlName="civil_status_id" class="form-select" id="select-user-form">
              <option *ngFor="let civilStatu of civilStatus" [value]="civilStatu.id">{{ civilStatu.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('civil_status_id')?.hasError('required') && form.get('civil_status_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="div-buttons">
          <div>
            <button class="btn btn-primary" (click)="back()">Atras</button>
          </div>
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary" (click)="changePagine()">Siguiente</button>
          </div>
        </div>
      </div>
      <!-- Tercera pagina  -->
      <div *ngIf="pagine == 3">
        <h3 style="margin-top: -35px">Datos de la empresa</h3>
        <div class="space-around">
          <div id="select-province">
            <label>Departamento de trabajo</label>
            <select class="form-select"(click)="filterCities($event)">
              <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select>
          </div>
          <div>
            <label>Ciudad de trabajo</label>
            <select formControlName="work_city_id" class="form-select" id="select-user-form">
              <option disabled selected></option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('work_city_id')?.hasError('required') && form.get('work_city_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Sede</label>
            <select formControlName="headquarter_id" class="form-select" id="select-user-form">
              <option *ngFor="let headquarter of headquarters" [value]="headquarter.id">{{ headquarter.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('headquarter_id')?.hasError('required') && form.get('headquarter_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Fondo de pensiones</label>
            <select formControlName="pension_fund_id" class="form-select" id="select-user-form">
              <option *ngFor="let pensionFund of pensionFunds" [value]="pensionFund.id">{{ pensionFund.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('pension_fund_id')?.hasError('required') && form.get('pension_fund_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>EPS</label>
            <select formControlName="health_provider_id" class="form-select" id="select-user-form">
              <option *ngFor="let healthProvider of healthProviders" [value]="healthProvider.id">{{ healthProvider.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('health_provider_id')?.hasError('required') && form.get('health_provider_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Tipo de contrato</label>
            <select formControlName="contract_type_id" class="form-select" id="select-user-form">
              <option *ngFor="let contractType of contractTypes"[value]="contractType.id">{{ contractType.name}}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('contract_type_id')?.hasError('required') && form.get('contract_type_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Salario base</label>
            <input formControlName="base_salary" class="form-control" type="number" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('base_salary')?.hasError('required') && form.get('base_salary')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="div-buttons">
          <div>
            <button class="btn btn-primary" (click)="back()">Atras</button>
          </div>
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary" (click)="changePagine()">Siguiente</button>
          </div>
        </div>
      </div>
      <!-- Cuarta pagina  -->
      <div *ngIf="pagine == 4">
        <h3 style="margin-top: -35px">Datos de la empresa</h3>
        <div class="space-around">
          <div>
            <label>Tipo de salario</label>
            <select formControlName="salary_type_id" class="form-select" id="select-user-form">
              <option *ngFor="let salaryType of salaryTypes" [value]="salaryType.id">{{ salaryType.name}}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('salary_type_id')?.hasError('required') && form.get('salary_type_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Cargo</label>
            <select formControlName="position_id" class="form-select" id="select-user-form">
              <option *ngFor="let position of positions" [value]="position.id">{{ position.name}}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('position_id')?.hasError('required') && form.get('position_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Fecha de admision</label>
            <input formControlName="admission_date" class="form-control" type="date" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('admission_date')?.hasError('required') && form.get('admission_date')?.touched">*El campo es requerido</label>
          </div>
          <div *ngIf="isEdit">
            <label>Fecha de salida</label>
            <input formControlName="out_date" class="form-control" type="date" id="input-user-form" autocomplete="off">
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Nivel de riesgo laboral</label>
            <select formControlName="occupational_risk_manager_id" class="form-select" id="select-user-form">
              <option *ngFor="let ocupationalRiskManager of ocupationalRiskManagers" [value]="ocupationalRiskManager.id">{{ ocupationalRiskManager.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('occupational_risk_manager_id')?.hasError('required') && form.get('occupational_risk_manager_id')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Linea de negocios</label>
            <select formControlName="business_line_id" class="form-select" id="select-user-form">
              <option *ngFor="let businessLine of businessLines" [value]="businessLine.id">{{ businessLine.name }}</option>
            </select>
            <label id="required-alert" *ngIf="form.get('business_line_id')?.hasError('required') && form.get('business_line_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div *ngIf="isEdit">
            <label>Estado del empleado</label>
            <select formControlName="active" class="form-select" id="select-user-form">
              <option [value]="1">Activo</option>
              <option [value]="0">Inactivo</option>
            </select>
          </div>
        </div>
        <div class="div-buttons">
          <div>
            <button class="btn btn-primary" (click)="back()">Atras</button>
          </div>
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary" (click)="changePagine()">Siguiente</button>
          </div>
        </div>
      </div>
      <!-- Quinta pagina -->
      <div *ngIf="pagine == 5">
        <h3 style="margin-top: -35px">Datos de la cuenta</h3>
        <div class="space-around">
          <div>
            <label>Correo</label>
            <input formControlName="email" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Contraseña</label>
            <input formControlName="password" class="form-control" type="password" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Cargar foto de perfil</label>
            <div class="space-around">
              <input type="file" class="form-control" (change)="cacthImage($event)" formControlName="image">
              <img *ngIf="actualImage" [src]="actualImage" id="img-form">
            </div>
          </div>
        </div>
        <div class="div-buttons">
          <div>
            <button class="btn btn-primary" (click)="back()">Atras</button>
          </div>
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary" (click)="changePagine()">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="formContact" *ngIf="!isLoading">
      <!-- Sexta pagina  -->
      <div *ngIf="pagine == 6">
        <h3 style="margin-top: -35px">Datos de contacto de emergencia</h3>
        <div class="space-around">
          <div>
            <label>Nombre de contacto</label>
            <input formControlName="name" class="form-control" type="text" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="formContact.get('name')?.hasError('required') && formContact.get('name')?.touched">*El campo es requerido</label>
          </div>
          <div>
            <label>Telefono de contacto</label>
            <input formControlName="phone" class="form-control" type="number" id="input-user-form" autocomplete="off">
            <label id="required-alert" *ngIf="formContact.get('phone')?.hasError('required') && formContact.get('phone')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div>
            <label>Parentesco</label>
            <select formControlName="kinship_id" class="form-select" id="select-user-form">
              <option *ngFor="let kinkship of kinkships" [value]="kinkship.id">{{ kinkship.name }}</option>
            </select>
            <label id="required-alert" *ngIf="formContact.get('kinship_id')?.hasError('required') && formContact.get('kinship_id')?.touched">*El campo es requerido</label>
          </div>
        </div>
        <div class="space-around">
          <div id="text-select-user" class="alert alert-success" role="alert" *ngIf="messaggeAlert">
            Se ha creado el usuario!
          </div>
        </div>
        <div class="div-buttons">
          <div>
            <button class="btn btn-primary" (click)="back()">Atras</button>
          </div>
          <div>
            <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
            <button class="btn btn-primary" [disabled]="form.invalid && formContact.invalid" (click)="postEmergencyContact(formContact.value); postUser(form.value)">Finalizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
