.space-around{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
#input-user-form{
  width: 100%;
}
.div-buttons{
  display: flex;
  justify-content: space-between	;
  margin-top: 15px;
}
.btn-dark{
  margin-top: 15px;
  margin-right: 10px;
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}
.btn-primary{
  margin-top: 15px;
}
.div-buttons-first{
  display: flex;
  justify-content: flex-end	;
  margin-top: 15px;
}
#select-user-form{
  width: 190px;
}
#required-alert{
  color: rgb(172,29,33);
  font-weight: 100;
}
#img-form{
  border-radius: 10px;
  width: 100px;
  height: auto;
}
#select-province{
  width: 190px;
}
@media (max-width: 990px) {
  #select-province{
    width: 115px;
  }
  #select-user-form{
    width: 115px;
  }
  label{
    font-size: smaller;
  }
  #input-user-form{
    width: 115px
  }
  #long-label{
    font-size: xx-small;
  }
}
@media (max-width: 500px){
  #select-user-form{
    width: 189px;
  }
  .space-around{
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  #select-province{
    display:block;
    width: 189px;
    margin: auto;
  }
  label{
    font-size: small;
  }
  #input-user-form{
    width: 100%
  }
}
