<div class="row">
    <div class="div-navbar col-12">
        <app-navbar [sidebar]='drawer'></app-navbar>
    </div>

    <mat-drawer-container class = "example-container">
        <mat-drawer #drawer mode = "side">
            <app-sidebar [sidebar]='drawer'></app-sidebar>
        </mat-drawer>

        <mat-drawer-content  class="texto">
            <div class="letra">
                    <img src="./assets/img/sycgroup.jpg">

                    <h1>Bienvenid@ a Syc Contable</h1><br>

                    <div class="example-sidenav-content">
                        <button type="button" mat-button (click)="drawer.toggle()">
                            <b>  ⇱ Selecciona una opcion en el menú superior  izquierdo ⇱</b>
                        </button>
                      </div>
                </div>
        </mat-drawer-content >
    </mat-drawer-container>
</div>
