<div class="div-space-around" id="div-prinicpal">
  <!-- tarjeta de convenios -->
  <div class="card" id="card-covenant" *ngIf="covenant">
    <div class="div-space-around">
      <h2 class="title-item-covenant"><strong>{{covenant.name}}</strong></h2>
      <button class="btn-edit" (click)="openDeleteCovenantModal()"><img src="/assets/images/others/icon-trash.png" alt=""></button>
      <button class="btn-edit" (click)="openModal()"><img src="/assets/images/others/icon-edit.png" alt=""></button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="item-card-covenant">
          <h4>Estado</h4>
            <h4 id="text-cont" *ngIf="covenant.active == 1"><img src="/assets/images/others/status-on.png" alt=""></h4>
            <h4 id="text-cont" *ngIf="covenant.active == 0"><img src="/assets/images/others/status-off.png" alt=""></h4>
        </div>
      </li>
      <li class="list-group-item" *ngIf="covenant.value">
        <div class="item-card-covenant">
          <h4><img src="/assets/images/others/icon-dollar.png" alt=""> Valor</h4><h4 id="text-cont">{{covenant.value}}</h4>
        </div>
      </li>
      <li class="list-group-item">
        <div class="item-card-covenant">
          <h4><img src="/assets/images/others/icon-type.png" alt=""> Tipo de convenio</h4><h4 id="text-cont">{{covenant.covenantType.name}}</h4>
        </div>
      </li>
      <li class="list-group-item">
        <div class="item-card-covenant">
          <h4><img src="/assets/images/others/icon-period.png" alt=""> Periodicidad</h4><h4 id="text-cont">{{covenant.periodicityType.name}}</h4>
        </div>
      </li>
      <li class="list-group-item">
        <div class="item-card-covenant">
          <h4><img src="/assets/images/others/icon-concept.png" alt=""> Concepto</h4><h4 id="text-cont">{{covenant.concept.name}}</h4>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <!-- tarjeta de proveedores -->
  <div class="card" id="card-provider" *ngIf="covenant">
    <h2 class="title-item-covenant"><strong>Proveedor</strong></h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="item-card-covenant">
            <h4><img src="/assets/images/others/icon-provider.png" alt=""> Nombre comercial</h4><h4 id="text-cont"> {{covenant.provider.trade_name}}</h4>
          </div>
        </li>
        <li class="list-group-item">
          <div class="item-card-covenant">
            <h4><img src="/assets/images/others/icon-email.png" alt=""> Correo</h4><h4 id="text-cont"> {{covenant.provider.email}}</h4>
          </div>
        </li>
        <li class="list-group-item">
          <div class="item-card-covenant">
            <h4><img src="/assets/images/others/icon-phone.png" alt=""> Telefono</h4><h4 id="text-cont"> {{covenant.provider.phone}}</h4>
          </div>
        </li>
        <li class="list-group-item">
          <div class="item-card-covenant">
            <h4><img src="/assets/images/others/icon-address.png" alt=""> Direccion</h4><h4 id="text-cont"> {{covenant.provider.address}} {{covenant.provider.city.name}}</h4>
          </div>
        </li>
      </ul>
  </div>
</div>

<app-covenant-users-table [covenant]="covenant" (covenantId)="refreshCovenant($event)"></app-covenant-users-table>

