<swiper #swiper [config]="config">

  <ng-template swiperSlide *ngFor="let covenant of covenants">
    <button (click)="boton(covenant)" style="background-color: transparent; border-color: transparent;">
      <div class="card" style="width: 18rem;">
        <img src="https://i.gifer.com/origin/a3/a34e188330b786b349cfbbe11dba12a9.gif" class="card-img-top">
      </div>
      <div class="card-body">
        <h3 class="card-title"><strong>{{covenant.name}}</strong></h3>
      </div>
    </button>
  </ng-template>

</swiper>

<app-admin-covenant [covenant]="covenant"></app-admin-covenant>
