.mat-card{
    margin-top: 1%;
    width: 90vh;
  }
@media (min-width: 1000px) {
  .ancho{
    width: 180px;
    margin-bottom: 35px;
  }
}
@media (max-width: 600px){
  .mat-card{
    height: 75vh;
    width: 35vh;
    overflow: scroll;
}
}
