<div class="container col-12 col-md-12">
    <mat-toolbar>
        <span mat-dialog-title>{{ isEdit ? "Agregar" : "Editar"  }} Convenio</span>
    </mat-toolbar>
    <mat-card>
      <div class="d-flex justify-content-center" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
        <form *ngIf="form" [formGroup]="form" >
          <div class="div">
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>NOMBRE</mat-label>
                <input matInput autocomplete="off" formControlName="name" >
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3">
                <mat-label>TIPO DE CONVENIO</mat-label>
                <mat-select formControlName="covenant_type_id" name="convenio"  >
                    <mat-option *ngFor="let covenant of covenantType" [value]="covenant.id">
                      {{covenant.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>TIPO DE PERIODICIDAD</mat-label>
                <mat-select formControlName="periodicity_type_id" name="periodicidad" >
                    <mat-option *ngFor="let periodicity of periodicidad" [value]="periodicity.id">
                      {{periodicity.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" *ngIf="!isEdit">
                <mat-label>ESTADO</mat-label>
                <mat-select formControlName="active" name="active">
                    <mat-option [value]="1">
                      Activo
                    </mat-option>
                    <mat-option [value]="0">
                      Inactivo
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="form.value.covenant_type_id == 2" class="ancho col-6 col-md-3" >
                <mat-label>VALOR</mat-label>
                <input matInput autocomplete="off" formControlName="value" >
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                 <mat-label>CONCEPTO</mat-label>
                 <input matInput autocomplete="off" formControlName="concept_name" >
            </mat-form-field>
            <mat-form-field class="ancho col-6 col-md-3" >
                <mat-label>PROVEEDORES</mat-label>
                <mat-select formControlName="provider_id" name="provider" >
                    <mat-option *ngFor="let provider_id of providers" [value]="provider_id.id">
                      {{provider_id.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
          </div>
          <br>
          <div>
            <button mat-raised-button mat-dialog-close style="margin-right: 20px;">Volver</button>
            <button *ngIf="!id" type="submit" [disabled]="form.invalid" mat-raised-button color="primary" (click)="crearConvenio(form.value)">Aceptar</button>
            <button *ngIf="id" type="submit" [disabled]="form.invalid" mat-raised-button color="primary" (click)="updateConvenio(form.value,id)">update</button>
          </div>
        </form>
    </mat-card>
</div>
