.mat-card{
    margin-top: 1%;
    width: 90vh;
  }
  .validators{
    color: red;
  }
@media (min-width: 1000px) {
  .ancho{
    width: 25vh;
    margin-bottom: 5vh;
  }
}
@media (max-width: 600px){
  .mat-card{
    height: 75vh;
    width: 32vh;
    overflow: scroll;
  }
  .ancho{
    width: 25vh;
    margin-right: 0px;
  }
}
