<mat-toolbar>
  <span mat-dialog-title>CARGAR CONCEPTOS</span>
</mat-toolbar>
<mat-card>
  <form *ngIf="Select" [formGroup]="Select" >
    <mat-form-field class="ancho col-12 col-md-5">
      <mat-label>TIPO DE CONCEPTO  </mat-label>
      <mat-select id="concept" formControlName="conceptType" (selectionChange)="conceptoconTipo($event.value)">
        <mat-option  *ngFor="let concept_id of conceptType" [value]="concept_id.id">
          {{concept_id.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ancho col-12 col-md-5">
      <mat-label> CONCEPTOS  </mat-label>
      <mat-select  formControlName="concept_id" >
        <mat-option *ngFor="let concept of concepts" [value]="concept.id">
          {{concept.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ancho col-12 col-md-5" >
      <mat-label>CANTIDAD</mat-label>
        <input matInput autocomplete="off" formControlName="count" >
        <mat-error *ngIf=" Select.get('count')?.dirty && Select.get('count')?.invalid">
          <span *ngIf="Select.get('count')?.hasError('required') && Select.get('count')?.touched"  class="validators" role="alert">*La cantidad es requerida</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="ancho col-12 col-md-5" >
      <mat-label>VALOR</mat-label>
        <input matInput autocomplete="off" formControlName="unit_value" >
        <mat-error *ngIf=" Select.get('unit_value')?.dirty && Select.get('unit_value')?.invalid">
          <span *ngIf="Select.get('unit_value')?.hasError('required') && Select.get('unit_value')?.touched"  class="validators" role="alert">*El valor unitario es requerido</span>
        </mat-error>
    </mat-form-field>
    <br>
    <div>
      <button  mat-raised-button  [disabled]="Select.invalid" type="submit" color="primary" style="margin-right: 20px;" (click)="addConceptPayroll(Select.value,id)">Agregar</button>
    </div>
  </form>
</mat-card>


