.card{
  width: auto;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
#edit-contact-btn{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.div-info{
  width: 50%;
}
#inp-info:read-only{
  font-weight: 600;
  color: rgb(124, 124, 124);
  background-color: white;
  border-color: transparent;
  width: 200px;
  height: 30px;
}
#inp-info{
  padding-left: 5px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(235, 235, 235);
}
.select-info:optional{
  font-weight: 600;
  color: rgb(124, 124, 124);
  background-color: white;
  border-color: transparent;
  width: 200px;
  height: 30px;
  appearance:none;
  padding-left: 5px;
}
.select-info.active{
  width: 200px;
  height: 30px;
  border-color: transparent;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  color: black;
  padding-left: 5px;
  appearance: button;
  font-weight: 400;
}
.card-body{
  display: flex;
  justify-content: center;
}
.card-footer{
  display: flex;
  justify-content: center;
}
.btn.btn-primary.active{
  background-color: rgb(202, 230, 210) !important;
  border-radius: 30px;
}
.div-column{
  display: flex;
  flex-direction: column;
}
small{
  color: red;
}
.center{
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 750px) {
  .space-between{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-info{
    width: 100%;
    border-right: 0px;
  }
  #inp-info:read-only{
    background-color: rgb(245, 245, 245);
  }
  .select-info:optional{
    background-color: rgb(245, 245, 245);
  }
}
