<div>
    <mat-toolbar>
        <span mat-dialog-title>Vacaciones</span>
    </mat-toolbar>
    <mat-card>
          <form *ngIf="form" [formGroup]="form" >    
               <mat-form-field class="ancho col-4 col-md-3">
                 <mat-label> Seleccione Usuario</mat-label>
                 <mat-select formControlName="user_id" name="user_id">
                   <mat-option *ngFor="let user of users " [value]="user.id">
                      {{user.name}} - {{user.identification_number}}
                   </mat-option>
                        </mat-select>
                  </mat-form-field>

                <mat-form-field  class="ancho col-4 col-md-2">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input matInput type="date" formControlName="start_date">
                </mat-form-field>
          
                <mat-form-field class="ancho col-4 col-md-2">
                  <mat-label>Fecha Finalizacion</mat-label>
                  <input matInput type="date" formControlName="end_date">
                </mat-form-field>
      
            <button mat-stroked-button class="boton col-4 col-md-2" (click)="crearVacaciones(form.value)">Crear</button>
          </form>

        <div class="mat-table cdk-table" class="mat-elevation-z8" >
          <table  mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="user_id">
                <th mat-header-cell *matHeaderCellDef> Contribuidor </th>
                <td mat-cell *matCellDef="let row"> {{row.user.name}} </td>
              </ng-container>

              <ng-container matColumnDef="start_date">
                <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                <td mat-cell *matCellDef="let row"> {{row.start_date}} </td>
              </ng-container>

              <ng-container matColumnDef="end_date">
                <th mat-header-cell *matHeaderCellDef> Fecha de Finalizacion </th>
                <td mat-cell *matCellDef="let row"> {{row.end_date}} </td>
              </ng-container>

              <ng-container matColumnDef="total_days">
                <th mat-header-cell *matHeaderCellDef> Dias Totales </th>
                <td mat-cell *matCellDef="let row"> {{row.total_days}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columna"></tr>
              <tr mat-row *matRowDef="let row; columns: columna;"></tr>

            </table>
            
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
     </mat-card>
</div>

