#user-img{
  width: 15%;
  height: 15%;
  border-radius: 15px;
}
.div-head{
  display: flex;
  justify-content: flex-start;
}
.div-user-info{
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
#head-span{
  margin-right: 5%;
}
#div-cube-info{
  border: 1px dashed ;
  width: 100px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.space-between{
  display: flex;
  justify-content: space-between;
  width: 65%;
}
