<div *ngIf="user_data">
  <div class="card">
    <div class="card-body">
      <div class="div-head">
        <img id="user-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
        <div class="div-user-info">
          <h1>{{ user_data.name }} {{ user_data.last_name }}</h1>
          <span id="head-span">{{user_data.position.name}}</span>
          <span id="head-span">{{user_data.residenceCity.name}}</span>
          <span id="head-span">{{user_data.email}}</span>
          <div class="space-between">
            <div id="div-cube-info">
              {{user_data.base_salary | currency: ' '}} COP
            </div>
            <div id="div-cube-info">
              {{user_data.contractType.name}}
            </div>
            <div id="div-cube-info">
              {{user_data.position.business_line.name}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
