.cardimg{
    width: 100%;
}

.Profileimg{
    width: 160px;
    height:160px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 0.475rem;
    margin: 10px;
}

.Profilename{
    font-size: 19.5px;
    color: rgb(46, 46, 46);
}








