<div class="card">
  <div class="card-header">
    <h2>Detalles de la linea de negocios</h2>
    <button id="edit-business-btn" class="btn btn-primary {{btnEdit}}" (click)="edit()"><img src="/assets/images/others/icon-edit.png" alt=""></button>
  </div>
  <div class="card-body">
    <div class="div-info">
      <h3>Informacion de trabajo</h3>
      <div class="space-between">
        <span><strong>Departamento de trabajo</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Ciudad de trabajo</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Sucursal</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Cargo</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Salario base</strong></span>
        <input type="number" id="inp-info" [disabled]="!isEdit" [value]="number">
      </div>
      <br>
      <div class="space-between">
        <span><strong>Tipo de salario</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
    </div>
    <div class="div-info">
      <div class="space-between" style="margin-top: 50px">
        <span><strong>Fecha de admision</strong></span>
        <input type="date" id="inp-info" [disabled]="!isEdit" [value]="cumple">
      </div>
      <br>
      <div class="space-between">
        <span><strong>Fecha de termino de contrato</strong></span>
        <input type="date" id="inp-info" [disabled]="!isEdit" [value]="cumple">
      </div>
      <br>
      <div class="space-between">
        <span><strong>Tipo de contrato</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>EPS</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Fondo de pensiones</strong></span>
        <select id="select-info" [disabled]="!isEdit">
          <option [value]="">{{name}}</option>
        </select>
      </div>
      <br>
      <div class="space-between">
        <span><strong>Nivel de riesgo laboral</strong></span>
        <input type="text" id="inp-info" [disabled]="!isEdit" [value]="name">
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="isEdit">
    <button class="btn btn-success">Guardar</button>
  </div>
</div>
