
  .items-sidenav{
    font-size: 0.9rem;
    margin-top: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(126, 127, 129);
  }
  .div-content-item .mat-icon{
    margin-right: 5px;
    margin: 10px;
    color:#3f51b5;
    margin-left: -10px;
    text-align: left;
  }
  .btn{
      font-size: 13px;
      margin-left: 30px;
  }
  #div-content-item{
      font-size: 0.9rem;
      margin-top: 10px;
      font-family: "Open Sans";
      font-weight: bold;
      color: rgb(126, 127, 129);
      padding: 0px;
  }
  .sidebar{
    width: 2.5rem;
    overflow: hidden;
    margin-right: 2px;
  }
  #show{
    width: 15rem;
  }
  @media (max-width: 400px) {
    .sidebar{
      width: 15rem;
    }
  }
