
.mat-table{
    width: 100vh;
  }
.boton{
    text-align: center;
}

.cop{
  color: rgb(24, 24, 136);
}
.ancho{
  width: 25%;
  /* margin-right: 5%; */
  margin-right: 5%;
}
.mat-card{
  margin-top: 1%;
  width: 100%;
}
.ancho{
  width: 30vh;
  margin-right: 3%;
}

@media (max-width: 600px) {
  .mat-table{
    width: 100%;
    overflow: scroll;
  }
  .mat-card{
    margin-top: 1%;
    width: 100vw;
  }
  .div{
    margin-left: 15px;
  }
  .ancho{
    width: 45%;
    margin-right: 5%;
  }
}
