.validators{
  color: red;
}

@media (min-width: 1000px) {
    .mat-card{
        margin-top: 1%;
        width: 90vh;
        height: 100%;
      }

    .ancho{
      margin-left: 10%;
    }
  }
@media (max-width: 600px) {
  .mat-card{
    height: 75vh;
    width: 35vh;
    overflow: scroll;
  }
  .ancho{
    margin-right: 0px;
    width: 30vh;
  }
}
