<mat-toolbar color="primary">
  <div class="d-flex col-12 col-md-12">
    <button mat-icon-button (click)="openSideNav()" class="example-icon col-3 col-md-3" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
   <img class="" src="https://media-exp1.licdn.com/dms/image/C560BAQFjWmGTmZL-bw/company-logo_200_200/0/1596636307248?e=2159024400&v=beta&t=BIz4ner1q2khkSTXb7zDhByPxqOjsb7fbkARbecpq1o" alt="">
   <!-- <h1 class="col-4 col-md-4"> S&C CONTABLE</h1> -->
   <div class="col-12 col-md-11 d-flex justify-content-end">
     <button routerLink="/logout" mat-icon-button class="boton">
      <mat-icon>logout</mat-icon>
     </button>
   </div>
  </div>
</mat-toolbar>