<div class="div-space-around col-sm-12 col-md-12" id="div-head">
  <h1 id="title-head"><strong>Nuestros convenios</strong></h1>
  <button class="btn btn-danger" id="btn-add" (click)="openAddModal()">+ Nuevo convenio</button>
</div>
<br>
<!-- Slider grande -->
<swiper #swiper [config]="config" class="d-md-block d-none">

  <ng-template swiperSlide *ngFor="let covenant of covenants">
    <button class="btn-card" (click)="getValuesSlider(covenant.id)">
      <div class="card" style="margin-top: 15px;">
        <img src="{{covenant.image}}" class="card-img-top">
      </div>
      <div class="card-body">
        <h3 class="card-title"><strong>{{covenant.name}}</strong></h3>
      </div>
    </button>
  </ng-template>

</swiper>
<!-- Slider pequeño -->
<swiper #swiper [config]="configSmall" class="d-block d-sm-none">
  <ng-template swiperSlide *ngFor="let covenant of covenants">
    <button class="btn-card" (click)="getValuesSlider(covenant.id)">
      <div class="card" style="margin-top: 15px;">
        <img src="{{covenant.image}}" class="card-img-top">
      </div>
      <div class="card-body">
        <h3 class="card-title"><strong>{{covenant.name}}</strong></h3>
      </div>
    </button>
  </ng-template>
</swiper>
<br>
<!-- Tarjetas -->
<app-admin-covenant *ngIf="isactive" [covenantId]="covenantSlideId"></app-admin-covenant>
<br>

