#btn-add-modal{
  background-color: rgb(174,29,33);
  border-color: rgb(174,29,33);
  font-weight: 400;
}

.div-center{
  display: flex;
  justify-content: center;
}
.btn-delete{
  background-color: #727171;
  font-weight: 500;
  color: white;
  margin-right: 15px;
}
