<div class="principal-div">
  <div class="modal-header">
    <h2><Strong>Agregar concepto</Strong></h2>
  </div>
  <div class="modal-body">
    <div class="column">
      <div *ngIf="!isSelected" class="column">
        <h4><strong>Buscar por nombre</strong></h4>
        <input type="text" placeholder="Nombre..." class="form-control" id="input-concept-name" (keyup)="getConcepts(concept_type_id, $event)">
        <h4 id="sub-text"><strong>Selecciona el concepto</strong></h4>
      </div>
      <div class="div-concepts" *ngIf="!isSelected">
        <div *ngFor="let concept of concepts" >
          <button class="concept-btn" (click)="conceptSelected(concept.id)">
            {{concept.id}}#  {{concept.name}}
          </button>
        </div>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="isAgain">
        Puedes agregar mas conceptos o salir!
      </div>
      <div *ngIf="isSelected">
        <div class="space-between">
          <button class="select-btn" style="margin-right: 20px;" (click)="back()"><img src="https://img.icons8.com/ios-glyphs/15/000000/back.png"/></button>
          <h4 id="sub-text"><strong>Ingrese los valores</strong></h4>
        </div>
        <form [formGroup]="form">
          <div>
            <label>Cantidad</label>
            <input type="number" class="form-control" name="" id="form-concept" formControlName="count">
          </div>
          <div>
            <label>Valor unitario</label>
            <input type="number" class="form-control" name="" id="form-concept" formControlName="unit_value">
          </div>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="isAdd">
          Se ha añadido el concepto!
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button class="btn btn-dark" (click)="modal.dismissAll()">Cerrar</button>
      <button class="btn btn-primary" (click)="addConcept(form.value)">Agregar</button>
    </div>
  </div>
</div>
