.mat-card{
  margin-top: 1%;
  width: 90vh;
}
@media (max-width: 600px) {

  .ancho{
    margin-right: 6px;
    width: 30vh;
  }
  .mat-card{
    height: 75vh;
    width: 35vh;
    overflow: scroll;
  }
}
