<div class="card p-3 shadow-lg" id="cardTable">
    <div>
        <h3>Nuestros Colaboradores</h3>
        <h6 class="opacity-50">Mas de 50 colaboradores</h6>
    </div>

    <div class="mb-3 row col-12 d-flex justify-content-end">
        <div class="input-group" >
            <span class="input-group-text" id="basic-addon1" style="background-color:#c3c3c3; color: black;" >
              <i class="bi bi-search"></i>
            </span>
            <input  type="text" class="form-control" style="background-color: #c3c3c3;" placeholder="EJ:Victor">
          </div>
        <button type="button" class="btn col-2" style="background-color: #aa1b1b;"><b><i class="bi bi-plus-lg"></i>NUEVO INGRESO</b></button>
    </div>

    
        <table class="table table-hover">
            <thead>
                <tr> 
                    <th class="dates_header" scope="col">UserId</th>
                    <th class="dates_header" scope="col">#ID</th>
                    <th class="dates_header" scope="col">Nombre y Apellido</th>
                    <th class="dates_header" scope="col">Cargo</th>
                    <th class="dates_header" scope="col">Salario</th>
                    <th class="dates_header" scope="col">Email</th>
                    <th class="dates_header" scope="col">Estado</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users">
                    <th class="dates_header" scope="row">{{user.id}}</th>
                    <td class="dates_body">{{user.identification_number}}</td>
                    <td class="dates_body">{{user.name}} {{user.last_name}}</td>
                    <td class="dates_body">{{user.position.name}}</td>
                    <td class="dates_body">{{user.base_salary}}</td>
                    <td class="dates_body">{{user.email}}</td>
                    <td style="color:green; margin-left: 10px" *ngIf="user.active == true" ><i class="bi bi-toggle-on">on</i></td>
                    <td style="color:red; margin-left: 10px" *ngIf="user.active == false"><i class="bi bi-toggle-off">off</i></td>
                    <td ><button (click)="verProfile(user.id)" style="background-color: transparent; border-color: transparent;"><i class="bi bi-pencil"></i></button></td>
                    <td ><button style="background-color: transparent; border-color: transparent;"><i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end p-2">
            <ngb-pagination [collectionSize]="4" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
        </div>

</div>
