.form-control{
    border-left: none;

}
.input-group{
    width: 30%;
}
.btn{
color: white;
border-radius: 10px;
height: 40px;
}
.dates_header{
    color: rgb(104, 104, 104);
    opacity: 70%;
}

.dates_body{
    font-family:'Times New Roman', Times, serif;
}
    
